html{
    height:100%;
}
body{
    background-color: tan;
    background-repeat: no-repeat;
    height:100%;
    width:100%;
    background-size: cover;
    overflow-y: auto;
    overflow-x: hidden;
}

.center{
    background-repeat: no-repeat;
    height: auto;
    width: 73%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: auto;
    background-image: url("../images/textura.png");
    background-size: 100% 100%;
}

.row{
    margin: auto;

}

.Ranking{
    margin-top: 1%;
    font-size-adjust: 1;
    font-size: 30px;
}

.BuildingsTH{
    width:24%;
}

.ConstructTH{
    width: 25%;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: burlywood;
    border-color: #1d1e1f;
    color: #000000;
    font-size: small;
    margin: auto;
    padding: 5px;
}


@media  only screen and (min-device-width : 300px) and (max-device-width : 1000px) {

    .center{
        width: 100%;
        padding: 1px;
        /* height: 85%;*/
        height: auto;
    }

    .TabelMare{
        overflow-x: scroll;
        overflow-y: scroll;
    }

}

.table.no-border tr td, .table.no-border tr th {
    border-width: 0;
}

.HeaderTabel{
    background-image: url("../images/fontButon30%25.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: auto;
}

.TabelMare{
    border-width: 0;
}

.TabelCladiri{
    background-image: url("../images/texturaNoBorder.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-width: 0;

}

@media (min-width: 768px) and (max-width: 855px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
}

@media  only screen and (min-device-width : 100px) and (max-device-width : 390px) {

    body{
        font-size: small;
    }

    .TabelCladiri{
        font-size: xx-small;
    }
}



