body{
    background-color: tan;
    background-repeat: no-repeat;
    height:100%;
    width:100%;
    overflow-y:auto;
    background-size: cover;

}



.center{
    background-repeat: no-repeat;
    height: auto;
    width: 73%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin:auto;
    background-image: url("../images/textura.png");
    background-size: 100% 100%;

}
.tabel{
    border-width:0;
}


.btn-primary,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: burlywood;
    border-color: #000000 ;
    color: #000000;
    font-size: small;
    margin: auto;
    padding: 5px;
}

.btn-primary:hover{
    background-color: burlywood;
}
.textarea{
    resize:none;
}

@media  only screen and (min-device-width : 300px) and (max-device-width : 1000px) {



    .center {
        width: 100%;
        font-size:small;
    }

}


@media  only screen and (min-device-width : 100px) and (max-device-width : 1500px) {

    .tabel{
        background-size: 100% 100%;
    }
}


.table.no-border tr td, .table.no-border tr th {
    border-width: 0;

}

.tabel{


    text-align: center;


}
.modal-content{
    background-image: url("../images/textura.png");
    background-size: 100% 100%;
}
.modal-header{
    border-width:0;
}



