html{
    height:100%;
    width: 100%;
}
body{
    background-color: tan;
    background-repeat: no-repeat;
    height:100%;
    width:100%;
    overflow-y:auto;
    background-size: cover;
}

.center{
    background-repeat: no-repeat;
    height: auto;
    width: 73%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: auto;
    background-image: url("../images/textura.png");
    background-size: 100% 100%;
}

.Village{
    margin-left: 1px;
}
@media  only screen and (min-device-width : 300px) and (max-device-width : 800px) {

    .center{
        font-size:smaller;
    }


}

@media (min-width: 768px) and (max-width: 855px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
}
.legend{
    margin-left:1%;
    margin-top:1%;
    border-width: 0;
}

.allign{
    width: 8%;
}
.formular{
    margin-left:5%;
}

@media  only screen and (min-device-width : 300px) and (max-device-width : 1000px) {

    .center{
        width: 100%;
        margin: 0;
        padding: 0;

    }
    .formular{
        margin-top:1%;
        margin-left:12%;
    }
    .buton{
        margin-left: 5%;
        margin-bottom: 2%;
    }

}
.sword_form{

    float:left;
}

.mesaj-eroare{
    margin-left: 6%;
    color: brown;

}
.buton-formular{
    margin-left:4%;
    margin-top:1%;
    background-color: burlywood;
    color:black;

}



