html{
    height:100%;
}
body{
    background-color: tan;
    background-repeat: no-repeat;
    height:auto;
    width:auto;
    overflow: hidden;
    background-size: cover;
    overflow-x:hidden;
    overflow-y:scroll;
}

.center{
    background-repeat: no-repeat;
    height: auto;
    width: 73%;
    padding: 15px;
    margin: auto;
    background-image: url("../images/textura.png");
    background-size: 100% 100%;
}


.row{
    margin: auto;

}

.Overview{
    margin-top: 1%;
    font-size-adjust: 1;
    font-size: 25px;
}
.btn{
    background: #6c4824;
    border-radius: 5px;
    border: 1px solid #000;
    color: #fff;
    padding: 3px;
    text-align: center;
    margin: 2px;
    font-family: Verdana, Arial;
}
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: burlywood;
    border-color: #1d1e1f;
    color: #000000;
    font-size: small;
    margin: auto;
    padding: 5px;
}

.Table{
    background-image: url("../images/fontButon30%25.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: auto;
    width : 90%;
}
.paginare{
    margin:auto ;
}
table.no-border tr td, .table.no-border tr th {
    border-width: 0;
}

.vis{
    margin-left: 2px;
}
@media  only screen and (min-device-width : 300px) and (max-device-width : 1000px) {

    .center{
        width: 100%;
        padding: 1px;
    }

}

@media (min-width: 768px) and (max-width: 855px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
}
@media  only screen and (min-width : 100px) and (max-width : 400px) {

    body {
        font-size: small;
    }
    .Table{
        width : 100%;
    }
}
